*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
header {
  background-color: #4CAF50;
  color: white;
  padding: 1rem 0;
  text-align: center;
}
nav {
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  li {
    margin: 0 1rem;
    padding: 14px;
    text-decoration:none;
  }
}
}
#books{
  display: flex;
}
  main {
    padding: 2rem;
  }
  .book {
    text-align: center;
    margin-bottom: 2rem;
  }
  button {
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
  }
  button:hover {
    background-color: #45a049;
  }
  footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem 0;
  }
  